@font-face {
    font-family: 'gothamBold';
    src: url("../fonts/Gotham-Bold.otf") format("opentype"); }

@font-face {
    font-family: 'gothamMedium';
    src: url("../fonts/Gotham-Medium.otf") format("opentype"); }

@font-face {
    font-family: 'gothamBook';
    src: url("../fonts/Gotham-Book.otf") format("opentype"); }