/* # Font-face */

// NB: there's no need to call TTF, EOT, nor SVG fonts.
// cf. https://twitter.com/kReEsTaL/status/644518292581912576

@font-face{
  font-family : 'gothamBold';
  src : url('../fonts/Gotham-Bold.otf') format('opentype');
}

@font-face{
  font-family : 'gothamMedium';
  src : url('../fonts/Gotham-Medium.otf') format('opentype');
}

@font-face{
  font-family : 'gothamBook';
  src : url('../fonts/Gotham-Book.otf') format('opentype');
}

@font-face{
  font-family : 'kepler';
  src : url('../fonts/KeplerStd-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?utssru');
  src:  url('../fonts/icomoon.eot?utssru#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?utssru') format('truetype'),
  url('../fonts/icomoon.woff?utssru') format('woff'),
  url('../fonts/icomoon.svg?utssru#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}