/* # Buttons */
button{
  padding:0;
  background-color: transparent;
  margin: 0;
  border: 0;
}

.btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  padding: 1.5rem;
  width: 16rem;
  @include font-style ($font-bold, 1.2rem, 400, normal, 1);
  background-color: #000000;
  color: #fff;
  transform: color .4s ease-in, background-color .4s ease-in;
  text-transform: uppercase;

  &:hover{
    color: #000000;
    background-color: #fff;
    transform: color .4s ease-in, background-color .4s ease-in;
  }


  &--clear{
    color: #000000;
    background-color: #fff;
    transform: color .4s ease-in, background-color .4s ease-in;

    &:after{
      content: "\e900";
      font-family: 'icomoon' !important;
      speak: none;
      padding-left: 1rem;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    &:hover{
      background-color: #000000;
      color: #fff;
      transform: color .4s ease-in, background-color .4s ease-in;
    }
  }

  &-cta{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 3.4rem;
    background-color: $tonic-color;
    color: #FFF;
    @include font-style ($font-bold, 1.2rem, 400, normal, 1);
    text-transform: uppercase;
    transform: background-color .4s ease-out;

    &:after{
      content: "\e900";
      font-family: 'icomoon' !important;
      speak: none;
      padding-left: 1rem;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    &:hover{
      background-color: lighten($tonic-color, 3%);
      transform: background-color .4s ease-out;
    }
  }
}