<?xml version="1.0"?>
<config>
  <modules>
    <Diva_MenuImage>
      <version>0.0.1</version>
    </Diva_MenuImage>
  </modules>
  <global>
    <helpers> <!-- Trad -->
      <diva_menuimage>
        <class>Diva_MenuImage_Helper</class>
      </diva_menuimage>
    </helpers>

    <models>
      <diva_menuimage>
        <class>Diva_MenuImage_Model</class>
      </diva_menuimage>
    </models>
  </global>

  <frontend>
    <events>
      <page_block_html_topmenu_gethtml_before> <!-- see predispatch code -->
        <observers>
          <catalog_add_topmenu_items>
            <type>disabled</type>
          </catalog_add_topmenu_items>
          <diva_menuimage>
            <class>diva_menuimage/observer</class>
            <method>pageBlockHtmlTopmenuGethtmlBefore</method>
          </diva_menuimage>
        </observers>              
      </page_block_html_topmenu_gethtml_before>

      <catalog_category_collection_load_before> <!-- see dynamic predispatch code -->
        <observers>
          <diva_menuimage>
            <class>diva_menuimage/observer</class>
            <method>catalogCategoryCollectionLoadBefore</method>
          </diva_menuimage>
        </observers>
      </catalog_category_collection_load_before>

      <catalog_category_flat_loadnodes_before> <!-- see predispatch code -->
        <observers>
          <diva_menuimage_add_extra_flat_attributes>
            <class>diva_menuimage/observer</class>
            <method>catalogCategoryFlatLoadnodesBefore</method>
          </diva_menuimage_add_extra_flat_attributes>
        </observers>
      </catalog_category_flat_loadnodes_before>
    </events>
  </frontend>

</config>