<?xml version="1.0"?>
<config>
  <modules>
    <Diva_Adminpanel>
      <version>0.1.1</version>
    </Diva_Adminpanel>
  </modules>
  <global>
    <helpers>
      <adminpanel>
        <class>Diva_Adminpanel_Helper</class><!-- for translation -->
      </adminpanel>
    </helpers>
    <models>
      <adminpanel>
        <class>Diva_Adminpanel_Model</class>
      </adminpanel>
    </models>
  </global>
  <adminhtml>
    <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <diva>
                                        <title>DiVA - All</title>
                                    </diva>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
  </adminhtml>
</config>
