<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <diva translate="label" module="adminpanel">
            <label>Diva Extensions</label>
            <sort_order>100</sort_order>
        </diva>
    </tabs>
    <sections>
        <diva translate="label" module="adminpanel">
            <label>Options</label>
            <tab>diva</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
 
            <groups>
                <diva_group translate="label" module="adminpanel">
                    <label>Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
 
                    <fields>
                        <diva_input translate="label">
                            <label>Field: </label>
                            <comment>A note</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </diva_input>
                        <diva_select translate="label">
                            <label>Dropdown: </label>
                            <comment>Default Yes/No values</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </diva_select>
                    </fields>
                </diva_group>
            </groups>
        </diva>
    </sections>
</config>
