.footer{
  background: black;
  padding: 7rem;

  &_list{
    li{
      color: #797979;
      padding-top:.5rem;
      font-size: 1.2rem;

      &:first-child{
        color: white;
        text-transform: uppercase;
        font-family: $font-bold;
        font-size: 1.5rem;
        letter-spacing: .2rem;
      }
    }
  }
}