.product-selection{
  @extend .centered;
  max-width: 128rem;



  &-list{
    &-wrapper{
      text-align: center;
    }

    >li{
      position: relative;
      display: inline-block;
      width: 25%;
      vertical-align: top;
      border: solid 1.5rem #FFF;
      background-color: $gray-color;
      overflow: hidden;
      @include no-inline-block-margin();
      @include aspect-ratio(270, 440);

      .content{
        background-size: 80% auto;
      }

      &:nth-child(6n+3),
      &:nth-child(6n+4){
        width: 50%;
        background-color: $gray-color;
        @include aspect-ratio(570, 440);
        .content{
          background-size: auto 60%;
        }
      }
    }

    .content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      background-position: center;
    }
  }

  &-details{
    width: 100%;
    text-align: center;
  }

  &-header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    pointer-events: none;
  }

  &-utils{
    li{
      display: inline-block;
      vertical-align: top;
      pointer-events: auto;
      @include no-inline-block-margin();
    }
    button{
      padding: 0 1rem;
    }
  }

  &-price{
    @include font-style ($font-bold, 2.4rem, 400, normal, 1);
  }

  &-promo{
    justify-content: center!important;
    p{
      @include font-style ($font-regular, 1.4rem, 400, normal, 1);
      letter-spacing: .5px;
    }
    span{
      display: block;
      text-transform: uppercase;
    }
    .reduce{
      @include font-style ($font-bold, 7.4rem, 400, normal, 1);
    }
    .code{
      @include font-style ($font-bold, 1.6rem, 400, normal, 1.6);
    }
  }
}