.title{
	&-beta{
		@include font-style ($font-bold, 4rem, 400, normal, 1.2);
	}

	&-delta{
		@include font-style ($font-bold, 1.6rem, 400, normal, 1.2);
	}

	&_section{
		font-family: $font-title;
		font-size: 3.5rem;
		text-align: center;
		margin-bottom: 2rem;
		color: $title-color;

		&--newsletter{
			text-transform: initial;
			font-family: $font-regular;
			margin-bottom: 0;
		}

		&--alignLeft{
			text-align: left;
			margin-bottom: 0;
		}
	}
}

.paragraph{
	&-beta{
		@include font-style ($font-regular, 1.5rem, 400, normal, 1.6);
	}

	&-delta{
		@include font-style ($font-regular, 1.4rem, 400, normal, 1.6);
	}
}